body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/home/nishu/Downloads/bg-super-market.jpeg'); /* Replace 'background.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    background-color: #dddddd;;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 100px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .card {
    width: 200px;
    background-color: #f7f7f7;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    padding: 20px;
  }
  
  .centered {
    align-self: center;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  